body{
  background-image: url('disney background.jpg');
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  border-style: outset;
  background-color: transparent;
  text-align: center;
  border:none;
  border-bottom:1px solid white;
  height:40px; 
  color:white;
}
label{
  color:white;
  font-size: small;
}
table{
  width:300px;
  color:black; 
  height:40px; 
  border-radius: 20px;
  border-style: transparent;
  background-color: rgb(2, 2, 70) ;
  text-align: center;
  border-color: black;
  color: black;
  border-width:3px;
}
.plant{
  width:150px; 
  color:rgb(2, 2, 70); 
  height:50px; 
  border-radius: 20px;
  border-style: solid;
  background-color:whitesmoke;
  text-align: center;
  border-color: rgb(2, 2, 70);
  border-width:3px;
  margin-right:30px;
  cursor:pointer;
}
h2{
  text-align:left;
  color:white;

}
p1{
  color: white;
  text-align: left;
}

