body{
    background-image: url('../images/disney\ background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}
  form{
      margin-left: 22%;
      background-image:linear-gradient(to left, rgb(5, 119, 148), #111d3a);
      width:43%;
      /* height: 30%; */
      position: absolute;
      margin-top: 5%;
      padding: 100px;
      border-radius: 20px;
  }
  #addCategoryForm{
      height:30%;
  }
  #productForm{
      height:50%;
  }
  #productDetailForm{
      height:75%;
  }
  input{
      margin:20px;
      width:750px;
      height:35px;
      font-size: 15px;
      text-align: center;
      color: rgb(27, 27, 56);
      border-radius: 20px;
  }
  ::placeholder{
      color:rgb(26, 26, 58);
      font-size: 15px;
  }
 .text{
     border-radius: 20px;
 }
 #button{
     margin-left: 41%;
     width:150px;
     height: 35px;
     border-radius: 20px;
     background-image:linear-gradient(to left, white, rgb(78, 124, 143));
 }
 h1{
     color: rgb(26, 26, 70);
     text-align: center;
     margin-top: 4%;
 }