body{
    background-image: url('../images/disney background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
  }
  tr{
    border-style: groove;
  }
  
  table{
    border-color: transparent; 
    background-color:transparent;
    border-radius: 140px;
    margin-top: 4%;
    color:rgb(40, 40, 78);
    width: 50%;
    height: 100px;
    box-shadow: 2px 12px 20px 4px gray;
    padding:2%;
  }
  input{
    background:transparent;
    border:none;
    border-bottom: 1px solid rgb(30, 30, 58);
    text-align:center;
    font-size:20px;
    color:rgb(30, 30, 58);
    margin-bottom: 20px;
  }
  .button1,.button2{
    padding: 15px; 
   
    background-image:linear-gradient(to left, rgb(92, 160, 189), #19305a);
    color:white; 
    font-size: 20px;
    border-radius: 20px;
    border-bottom:3px solid rgb(3, 3, 71);
    border-width: 3px;
    
  }
  .button{
    padding: 6px; 
   
    background-image:linear-gradient(to left, rgb(84, 156, 187), #19305a);
    color:white; 
    font-size: 10px;
    border-radius: 10px;
    border-bottom:3px solid rgb(3, 3, 71);
    border-width: 3px;
  }
  .button1{
    margin-left: 40%;
  }
  .button2{
    margin-left: 200px;
  }
  a{
    text-decoration: none;
    color: rgb(3, 3, 71);
  }
  #head1{
    font-size: 40px;
    padding-top:3%;
    text-align: center;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:auto;
  }
 #sendemail{
   margin-left: 13%;
 }
 #button{
   margin-left:3%;
 }
 
  