body{
    background-image: url('../images/disney background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family:Arial, Helvetica, sans-serif;
    
  }
  h1 {
    color:rgb(3, 3, 71);
  }
  tr, td{
      padding: 8px;
  }
  img{
      padding: 10px;
      border-radius: 30px;
  }
  img:hover{
      width:320px;
      height:220px;
  }
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: rgb(5, 5, 8);
    color:white;
    top: 0;
    width: 100%;
  
  }
  li{
      color:white;
      display: block;
      font-size: 30px;
      padding-bottom: 20px;
      font-family: 'Berkshire Swash';
    
  } 
  button{
        border-radius: 20px;
        background-color:rgb(3, 3, 71) ; 
        font-size:30px; 
        width:100px; 
        height:40px;
        font-family: 'Charmonman';
        
  }
  a{
        color:white;
        text-decoration: none;
  }   
  #innerlist{
    background-color: rgb(13, 13, 83); 
    height:50px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .head1{
    text-align: center;
    font-family: 'Chelsea Market';
  }
  #button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }