body{
    background-image: url('../images/disney background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
  }
  tr{
    border-style: groove;
   
  }
  #shadow{
    box-shadow: 2px 12px 20px 4px gray;
    background-color:transparent;
  }
  

  table{
    border-style: hidden; 
    border-color: transparent; 
    background-color:transparent;
    border-radius: 40px;
    margin-top: 1%;
    padding:3%;
    color: rgb(3, 3, 71);
    width: 40%;
    height: 35%;
    margin:center;
    font-size:30px;
  }
  input{
    background:transparent;
    border:none;
    border-bottom: 1px solid rgb(3, 3, 71);
    text-align:center;
    font-size:30px;
    color:rgb(3, 3, 71);
    border-color: rgb(3, 3, 71);
    margin-bottom: 20px;
  }
  button, .button{
    padding: 15px; 
    color:white; 
    font-size: 20px;
    margin-top: 5%; 
    border-bottom:1x solid white;
    border-width: 3px;
    background-color: rgb(3, 3, 71);
    
  }
  a{
    text-decoration: none;
    color: white;
  }
  #head1{
    font-size: 40px;
    margin-top:2%;
  }
  #button{
    margin-left: 30px;
  }
  .button{
    margin-left: 250px;
  }
  #innertable{
    margin:3%;
  }
  #image{
    border-radius: 2%;
  }