body{
    background-image: url('../images/disney background.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
  }
.div{
    background-color: rgb(8, 8, 39);
    position: absolute;
    width:100%;
    height:8%
}
#head1{
    color:white;
    position: absolute;
    margin-top: 1%; 
    margin-left: 3%;
}
#search{
    position: absolute;
    margin-top: 1%; 
    margin-left: 50%;
}
#searchButton{
    position: absolute;
    margin-top: 2%; 
    margin-left: 70%;
}
#head2{
    color:rgb(13, 13, 49); 
    font-size: 30px;
    text-align: center;
}
.span{
    background-color:  transparent;
    width:3%;
    height:20%;
    margin:1%;
    padding:1%;
    box-shadow: 2px 12px 20px 4px gray;
    border-radius: 4%;
}

h2,h3{
    color: rgb(8, 8, 39);
   
}
#imgtable{
    width:100%;
    height:30%;
    margin-left: 30px;
}
.id{
    background-color: transparent;
    border-radius: 5px;
}
#innerlist{
    background-color: rgb(13, 13, 83); 
    height:50px;
  }
li{
    color:white;
    display: block;
    font-size: 30px;
    padding-bottom: 20px;
  
} 
#para1{
    color:rgb(13, 13, 49); 
    font-size: 30px;
}
#table1{
    background-color: rgb(14, 14, 39); 
    width:100%;
    height:40%;
}
.ShoppingImages:hover{
    width: 300px ;
    height: 300px;
}
.pic{
    padding:80px;
}
.h1{
    position: absolute;
    margin-left:15%;
    margin-top:-15%;
    color:rgb(18, 18, 85);
}
.h2{
    position: absolute;
    margin-left:20%;
    margin-top:-10%;
    color:rgb(15, 15, 77);
}
.reviewStar{
    position: absolute;
    margin-left:18%;
    margin-top:-5%;
}
.reviewStar1{
    position: absolute;
    margin-left:21%;
    margin-top:-5%;
}
.reviewStar2{
    position: absolute;
    margin-left:24%;
    margin-top:-5%;
}
.reviewStar3{
    position: absolute;
    margin-left:27%;
    margin-top:-5%;
}
.reviewStar4{
    position: absolute;
    margin-left:30%;
    margin-top:-5%;
}
.margin{
    position: absolute;
    margin-left:15%;
    margin-top:0%;
}

